.font_title{
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    color: #000;
}
.font_cont{
    font-size: 14px;
    color: #717171;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}